:root {
    --background-color: black;
    --primary-color: #3C3D37;
    --text-color: #EEEEEE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.element::-webkit-scrollbar {
    display: none;
}

body {
    background-color: var(--background-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    padding: 60px 0 30px;
    text-align: center;
    flex-grow: 1;
    background-image: url("background.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px;
    background-color: var(--primary-color);
    color: var(--background-color);
    height: 120px;
}

.navbar .nav-left h1 {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    color: var(--background-color);
}

.nav-right a {
    color: var(--background-color);
    margin-left: 25px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    transition: font-size 0.3s;
    text-decoration: none;
}

.nav-right a:hover {
    font-size: 22px;
    text-decoration: none;
}

.nav-right a.active {
    border-bottom: 3px solid #000000;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.login-container {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-out forwards;
}

.login-container.visible {
    opacity: 1;
    transform: translateY(0);
}

.login-container {
    margin: 5px auto;
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.login-container h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: var(--text-color);
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--text-color);
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 3px solid black;
    color: var(--background-color);
    font-weight: bold;
    margin-bottom: 15px;
}

.input-group input:focus {
    border-color: var(--primary-color);
}

.login-btn {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #30302C;
}

.message {
    font-weight: bold;
    color: red;
    margin: 10px 0;
}

.register-message {
    color: var(--text-color);
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 30px 0;
    background-color: var(--primary-color);
    color: var(--background-color);
    font-size: 18px;
    height: 120px;
}

.social-media {
    margin-bottom: 10px;
}

.social-media a {
    margin: 0 10px;
}

.social-media img {
    width: 30px;
    height: auto;
}
